header ul li a i {
    margin-right: 0.2rem;
}

#nav-submenu ul li#bars,
#nav-submenu ul li#close {
    display: none;
    font-size: 30px;
}

#nav-submenu form {
    display: none;
}

.grid-3 img {
    width: 32%;
}

#search div {
    width: 100%;
}

.products .product {
    width: 23%;
    cursor: pointer;
    overflow: hidden;
}

.products .product img {
    margin-bottom: 20px;
    max-width: 100%;
}

.products .product .badge-shipping {
    font-size: 9px;
    padding: 2px 10px;
    right: 0;
}

.products .product .discount {
    font-size: 14px;
    padding: 2px 10px;
    top: 30px;
    right: 0;
}

.products .product .divisor::after {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #d4d4d4;
    display: table;
    margin: 15px auto 27px;
    text-align: center;
}

.products .product .text-disabled {
    margin-right: 5px;
}

.products .product .product-details {
    bottom: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    transition: bottom 0.25s;
}

.products .product:hover > .product-details {
    bottom: 50%;
}

#brands img {
    width: auto;
    float: left;
}

#copyright span {
    color: #666;
}

@media screen and (max-width: 950px) {
    footer .p-x-3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer #payments-info > div img {
        width: 100% !important;
    }
}

@media screen and (max-width: 870px) {
    main {
        display: none;
    }

    nav > div a#login-signup {
        width: 50%;
        justify-content: flex-end;
    }
    nav > div img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    .products .product {
        width: 50%;
        margin-bottom: 30px;
    }

    header ul {
        width: 100%;
        justify-content: center !important;
    }
    header ul:first-child {
        margin-bottom: 20px;
    }

    #newsletter h5,
    #newsletter i {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    nav > div.container {
        justify-content: center !important;
    }
    nav > div a {
        width: 100% !important;
        justify-content: center !important;
        text-align: center;
    }
    nav > div form {
        display: none;
    }

    #cart {
        display: none;
    }

    #nav-submenu form {
        display: block;
    }

    #nav-submenu {
        background-color: #fff !important;
        padding: 0 50px;
    }
    #nav-submenu ul {
        margin: 0;
    }
    #nav-submenu ul li:not(#bars) {
        display: none;
    }

    #nav-submenu ul li#bars {
        display: block;
    }

    #nav-submenu {
        left: -50%;
        transition: left 0.5s;
    }
    #nav-submenu.active {
        position: fixed;
        width: 50%;
        top: 0;
        height: 100%;
        z-index: 9999;
        background-color: #fff;
        left: 0;
        align-items: initial;
        padding: initial;
    }
    #nav-submenu ul {
        justify-content: flex-start;
        flex-direction: column;
    }
    #nav-submenu.active ul li#bars {
        display: none !important;
    }
    #nav-submenu.active ul li {
        display: block !important;
    }
    #nav-submenu.active ul li a {
        color: #525252;
    }

    #nav-submenu.active form {
        display: none;
    }

    #overlay.active {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
    }
}

@media screen and (max-width: 500px) {
    .product {
        width: 100% !important;
    }

    .product img {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    #brands div {
        justify-content: center !important;
    }

    #nav-submenu {
        padding: 0 10px;
    }

    #bars {
        padding: 0 20px;
    }
}

@media screen and (max-width: 400px) {
    nav img {
        max-width: 100%;
    }

    #newsletter form .d-flex {
        flex-wrap: wrap;
    }

    #newsletter form .d-flex div {
        width: 100%;
    }

    #newsletter form .d-flex button {
        padding: 1rem 0;
    }

    #newsletter button,
    #newsletter input {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    #bars {
        padding: 0 10px;
    }

    #search div {
        width: 90%;
    }

    #nav-submenu {
        padding: 0;
    }
}

@media screen and (max-width: 300px) {
    #nav-submenu {
        width: 100% !important;
    }
}
